html,body{
    margin:0 auto;
    padding:0;
    font-size:62.5%;
    
}
body{
    width:100%;
    height:100%;
    position:absolute;
    top:0rem;
}

header{
    margin:0 auto;
    padding:0;
    width:100%;
    height:30rem;
    background-color:#728BA8;
}

main{
    margin:0 auto;
    padding:0;
    width:100%;
    transform:translateY(-10rem);
}

#header_logo{
    margin:0 auto;
    padding:0;
    width:80%;
}

header > #header_logo > img{
    width:100%;
    min-width:70rem;
    height:100%;
}


#nav_bar{
    margin:0 auto;
    padding:0;
    width:80%;
    height:4rem;
}

ul{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    
}

li{
    display:inline-block;
    padding-left:0.1rem;
    width:auto;
    height:auto;
}

button{
    font-size:1.1rem;
    font-style:oblique;
    font-weight:700;
    color:snow;
    background-color:transparent;
    width:100%;
    height:4rem;
    border-radius:0.3rem;
}

#slider_sect{
    margin:0 auto;
    padding:0;
    width:80%;
    height:33rem;
    background-color:snow;
    border:solid 0.4rem transparent;
    border-bottom:solid 0.4rem lightgrey;
    border-radius:0.8rem;
}

#slider_img{
    float:left;
    width:50%;
    height:30rem;
}

#slider_info{
    float:right;
    width:50%;
    height:30rem;
}

.pad_down{
    margin-top:7rem;
}

h1{
    font-size:22px;
}

p{
    font-size:1.4rem;
}
secction{
    display:inline-block;
    margin:0 auto;
    padding:0;
}
aside{
    width:20rem;
    height:25rem;
    background-color:blue;
}
#section_one
    width:80%;
    height:25rem;
    border: solid lightgrey;
    border-radius:.8rem;
    background-color:red;
    box-sizing: border-box;
}

#section_two{
    margin:0 auto;
    padding:0;
    width:80%;
    height:50rem;
    border: solid lightgrey;
    border-radius:.8rem;
}


